{% extends "admin/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
  {%block branding %}

   <h1> User Dashboard</h1>
   {% if title %}
	 				<h1 class="w3-display">{{title}}</h1>
	 			{% else %}	
	 			<h1 style="float:right; padding-left: 1%"> Cloud Computing Web Application in Python </h1>
	 			{%endif %}
   {%endblock%}  

   
	  
	<head>
	     <meta charset="UTF-8">
	     <meta name="viewport" content="width=device-width, initial-scale=1.0">
	     <meta http-equiv="X-UA-Compartible" content="ie=edge">
	     <title style={text-align:right}>Cloud Computing Web Programming</title>
	     <link rel="stylesheet" type="text/css" href="{% static 'basic.css' %}">
	     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy">
	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	     <script type="text/javascript" src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	</head>
	 
	 <body>
	 		
	 		<div class="w3-container">
	 			
				{% block content %}


	 			{% endblock %}

	 		</div>
	 </body>
 </html>